/* miscellaneous styling */

* {
  margin: 0;
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

h2 {
  margin: 20px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

/* variables */

:root {
  --base: #ffc600;
  --spacing: 15px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  width: 70%;
  display: block;
  margin: 30px auto;
}

.hl {
  color: var(--base);
}